@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-brand-black text-white font-sans;
}

a {
  @apply text-brand-yellow;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(244, 197, 66, 0.6);
  border-radius: 9999px;
}
